<section>
    <!-- img needs inline block -->
    <img src="test-photo.png" alt="This Photo doesn't want to load" class="secondary">
    <!-- div needs inline block -->
    <div>
        <h1>Project-Name</h1>
        <p>This is some more important text information, and this 
            is how the text will be formatted in the paragraph 
            element. typically. This specific piece is here to 
            represent a quick description of a project that I might 
            post onto my page. For example: code, a novel, or a 
            piece of poetry. Also because I want to see how this 
            looks when ever it is filled up I will now proceed to 
            say absolute non-sense. BBQ fries on a cheese burger 
            at Wendy's is half off.</p>
    </div>
</section>
