@use 'colors' as *;

section {
    border: 2px solid $primary;
    border-radius: 8px;
    margin: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}


img {
    border-width: 1px;
    display: inline;
    object-fit: cover;
    min-width: 30%;
    max-width: 40%;
    max-height: 384px;
    margin: 8px;
}

div {
    display: inline;
    margin: 8px;

    h1 {
        text-align: left;
    }
}

// Media for Mobile
@media (max-width: 1260px) {
    img {
        display: none;
    }
}