@use 'colors' as *;

a {
    color: $primary;
    font-size: var(--font-size, 16px);
    font-family: 'inter', sans-serif;
    text-underline-offset: 25%;
    transition: all .25s ease;

    &:hover {
        text-shadow: 1px 0 currentColor;
    }
}