@use 'colors' as *;

header {
    background-color: $dark1;
    color: $light1;
    border-bottom: 16px solid $primary ;
    margin: 0;
}

// SCSS styles for the links section
ul {
    width: 100%;
}

ul li {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(min-width + 4px);
}

ul li:hover {
    background-color: $dark2;
}

a {
    font-size: 20px;
}

// For speeds sake tablet and mobile share the same VP
@media (min-width: 768px) {
    /* Below is the desktop viewport*/

    header {
        background-color: $dark1;
        color: $light1;
        border-bottom: 16px solid $primary;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    h1 {
        margin: 16px;
        font-size: 36px;
        width: fit-content;
    }

    ul {
        display: flex;
        justify-content: right;
        margin-right: 16px;
        align-items: center;
        width: fit-content;
    }

    ul li {
        display: inline-block;
        margin: 8px 32px 8px 32px;
        height: fit-content;
    }

    ul li:hover {
        background-color: transparent;
    }

    a {
        font-size: 16px;
    }
}