@use 'colors' as *;

header {
    background-color: $dark1;
    color: $light1;
    border-bottom: 16px solid $primary ;
    margin: 0;
}
#projectLink {
    color: $primary;
}
// SCSS styles for the links section
ul {
    width: 100%;
}
ul li {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(min-width + 4px);
}
ul li a {
    color: $secondary;
    padding: 4px 25% 4px 25%;
    font-size: 24px;
    font-family: 'inter', sans-serif;
    text-underline-offset: 25%;
}
ul li:hover {
    background-color: $dark2;
}

// Below is the SCSS for the h1 tag
h1 {
    padding: 4px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 48;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(#fff, 25%));
}

// For speeds sake tablet and mobile share the same VP
@media (min-width: 768px) {
    /* Below is the desktop viewport*/

    header {
        background-color: $dark1;
        color: $light1;
        border-bottom: 16px solid $primary;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    h1 {
        margin: 16px;
        text-align: center;
        font-family: 'inter', sans-serif;
        font-size: 36px;
        font-weight: bold;
        filter: drop-shadow(0px 4px 4px rgba(#fff, 25%));
        width: fit-content;
    }

    ul {
        display: flex;
        justify-content: right;
        margin-right: 16px;
        align-items: center;
        width: fit-content;
    }

    ul li {
        display: inline-block;
        margin: 8px 32px 8px 32px;
        height: fit-content;
    }

    #projectLink {
        color: $primary;
    }

    ul li a {
        padding: 0;
        color: $secondary;
        font-size: 16px;
        font-family: 'inter', sans-serif;
        text-underline-offset: 25%;
    }

    ul li:hover {
        background-color: transparent;
    }

    ul li a:hover {
        text-shadow: 1px 0 0 currentColor;
    }
}