// Literally just black
$black: #000000;

// Bases
$light1: #F2F2F2;
$light2: #D9D9D9;
$light3: #BFBFBF;
$grey: #808080;
$dark3: #404040;
$dark2: #262626;
$dark1: #0D0D0D;

// Primary - Green
$primary-dark: #007A21;
$primary: #58FF85;
$primary-light: #c2FFD2;

// Secondary - Orange
$secondary-dark: #A86800;
$secondary: #FFB338;
$secondary-light: #FFD48F;