/* You can add global styles to this file, and also import other style files */
@use 'colors' as *;
// SCSS RESET
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

// Paragraph styles
p {
    color: $light3;
    line-height: 150%;
    font-size: 16px;
    font-family: 'inter', sans-serif;
}
.important {
    color: $light1;
}

// Heading styles
h1, h2, h3 {
    color: $light3;
    padding: 4px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(#fff, 25%));
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px
}

// text Input Styles
input[type="text"] {
    margin: 4px;
    background-color: $dark2;
    color: $light2;
    border: 2px solid $primary;
    padding: 4px 8px;
    border-radius: 50px;

    &:focus, :focus-visible, :focus-within {
        outline: none;
        color: $light1;
    }

    &::placeholder {
        color: $grey;
    }

    &.secondary {
        border-color: $secondary;
    }
}

// Button Styles
button {
    /* Three pixel margin makes up for the box shadow */
    margin: 3px;
    font-size: 16px;
    padding: 16px 32px 16px 32px;
    background-color: $dark2;
    color: $primary;
    border: 3px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all .25s ease;

    // I want to add gradient later, but we are in fast release mode
    box-shadow: 0 0 0 1px $primary;

    &:hover{
        box-shadow: 0 0 2px 2px $primary;
        background-color: $dark3;
    }

    &.secondary {
        box-shadow: 0 0 0 1px $secondary;
    }

    &.secondary:hover {
        box-shadow: 0 0 2px 2px $secondary;
    }
}

// Hyperlinks
a {
    color: $primary;
    font-size: var(--font-size, 16px);
    font-family: 'inter', sans-serif;
    text-underline-offset: 25%;
    transition: all .25s ease;

    &:hover {
        text-shadow: 1px 0 currentColor;
    }

    &.secondary {
        color: $secondary;
    }
}