/* You can add global styles to this file, and also import other style files */
@use 'colors' as *;
// SCSS RESET
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

// Paragraph styles
p {
    color: $light3;
    line-height: 150%;
    font-size: 16px;
    font-family: 'inter', sans-serif;
}
.important {
    color: $light1;
}

// Heading styles
h1, h2, h3 {
    color: $light3;
    padding: 4px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(#fff, 25%));
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px
}

